.subreddit-topics__table,
.subreddit-topics__topic-cell,
.subreddit-topics__heading-cell {
    border: 1px black solid;
    border-collapse: collapse;
}

.subreddit-topics__heading-cell {
    padding: 0.25em;
    background-color: lightgray;
}

.subreddit-topics__topic-cell {
    text-align: center;
    padding: 0.25em;
}

@media only screen and (max-width: 600px) {
    .subreddit-topic__table {
        font-size: 0.8em;
    }
}
