.synset-selector__synset-row {
    display: flex;

    padding: 0 0.4em 0 0.4em;
    margin-bottom: 0.33em;

    background-color: bisque;
    border-radius: 15px;
}

.synset-selector__synset-row:hover,
.synset-selector__synset-row--selected {
    background-color: #d0baa0;
    border: 1px whitesmoke solid;
}

.synset-selector__synset-label {
    font-style: italic;
}

.synset-selector__comment-count {
    text-align: center;
    background-color: darkorange;

    border-radius: 1.2em;
    padding: 0.16em 1em 0.16em 1em;
}

@media only screen and (min-width: 600px){
    .synset-selector__synset-row {
        flex-flow: row nowrap;
    }

    .synset-selector__synset-gloss {
        order: 1;
        flex-grow: 8;
        flex-basis: 0;

        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }

    .synset-selector__comment-count-container {
        order: 2;
        flex-grow: 2;
        flex-basis: 0;
        align-self: center;

        display: flex;
        justify-content: flex-end;
        margin-left: 0.25em;
    }

    .synset-selector__comment-count {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 600px){
    .synset-selector__synset-row {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .synset-selector__synset-gloss {
        order: 1;
        flex-grow: 1;
        text-align: center;

        margin-top: 0.2em;
        margin-bottom: 0.7em;
    }

    .synset-selector__comment-count-container {
        order: 2;
        margin-bottom: 0.7em;
    }
}

