.wutbot-root__border {
    padding: 0 5px 0 5px;
}

/* Non-mobile */
@media only screen and (min-width: 600px){
    .wutbot-root__tabs {
        display: flex;
        flex-flow: row nowrap;
    }

    .wutbot-root__tabs__tab {
        border-radius: 1.2em 1.2em 0 0;
        margin-right: 0.25em;
        border: 0.125em black solid;
        border-bottom: 0.065em darkgrey solid;

        display: flex;
    }

    .wutbot-root__tabs__tab__content {
        margin: auto;
    }

    .wutbot-root__tabs__tab:last-child {
        margin-right: 0;
    }
}

/* Mobile */
@media only screen and (max-width: 600px){
    .wutbot-root__tabs {
        flex-flow: column wrap;
    }

    .wutbot-root__tabs__tab {
        border-radius: 0;
        border: 2px black solid;
        border-bottom: 0;
    }

    .wutbot-root__tabs__tab:last-child {
        border-bottom: 2px black solid;
    }
}

.wutbot-root__tabs__tab__content {
    cursor: default;
}

.wutbot-root__tabs__tab {
    flex-grow: 1;
    flex-basis: 0;

    padding: 0.5em 1em 0.25em 1em;
    background-color: bisque;

    text-align: center;
    font-weight: bold;
}

.wutbot-root__tabs__tab:hover {
    box-shadow: 0 0 1em darkgrey;
}

a.wutbot-root__tabs__tab {
    display: block;
    color: inherit;
    text-decoration: none;
}

.wutbot-root__tabs__tab.selected {
    background-color: #d0baa0;
}

.section-divider {
    width: 100%;
    height: 1px;
    margin: 0.65em 0 0.65em 0;
    border-bottom: 0.06em darkgrey solid;
}